[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "Lesspipe"]
	path = Lesspipe
	url = https://github.com/Rafiot/Lesspipe
[submodule "python-shell-enhancement"]
	path = python-shell-enhancement
	url = https://github.com/jbisbee/python-shell-enhancement.git
[submodule "ack2"]
	path = ack2
	url = https://github.com/petdance/ack2
[submodule "git-extras"]
	path = git-extras
	url = https://github.com/rkennedy/git-extras
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/yyuu/pyenv
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
