[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = http://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = http://github.com/tpope/vim-abolish
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = http://github.com/tpope/vim-git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = http://github.com/tpope/vim-sensible
